<h1>Welcome#about</h1>
<p>This is content about this application.  It is pretty empty but for now, here is a button about me.</p>
<button class="social-btn">
  <%= link_to "Follow me", "https://www.facebook.com/trybloc" %>
</button>
